<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huayuorg.oa.hyoa" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".BeforeLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atys.AtyLogin"
            android:label="@string/title_activity_aty__login" >
        </activity>
        <activity
            android:name=".atys.AtyMainBefore"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".atys.atyTest"
            android:label="@string/title_activity_aty_test" >
        </activity>
        <activity
            android:name=".atys.Aty_MainTabs_Mainpage"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="@string/title_activity_aty__main_tabs__mainpage" >
        </activity>
        <activity
            android:name=".atys.Aty_MainTabs_Contact"
            android:label="@string/title_activity_aty__main_tabs__contact" >
        </activity>
        <activity
            android:name=".atys.Aty_MainTabs_WorkFlow"
            android:label="@string/title_activity_aty__main_tabs__work_flow" >
        </activity>
        <activity
            android:name=".atys.Aty_MainTabs_More"
            android:label="@string/title_activity_aty__main_tabs__more" >
        </activity>
        <activity
            android:name=".atys.Aty_Main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/title_activity_aty__main" >
        </activity>
    </application>

</manifest>
